* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
bbsum/Makefile.am -text
bbsum/bbsum.c -text
/configure.ac -text
doc/DeveloperGuide -text
doc/Makefile.am -text
doc/UserGuide -text
examples/Makefile.am -text
examples/directory2filelist.c -text
examples/findvdif.c -text
examples/m5bstate.c -text
examples/m5d.c -text
examples/m5findformats.c -text
examples/m5fold.c -text
examples/m5pcal.c -text
examples/m5spec.c -text
examples/m5test.c -text
examples/m5time.c -text
examples/m5tsys.c -text
examples/phxsel.c -text
examples/test5b.c -text
examples/test_all_unpack -text
examples/test_mark5_stream.c -text
examples/test_unpacker.c -text
examples/zerocorr.c -text
examples/zerocorr.in -text
/mark5access.h -text
/mark5access.pc.in -text
/mark5access.spec.in -text
mark5access/Makefile.am -text
mark5access/blanker_mark5.c -text
mark5access/blanker_none.c -text
mark5access/format_k5.c -text
mark5access/format_vdif.c -text
mark5access/mark5_format_mark4.c -text
mark5access/mark5_format_mark5b.c -text
mark5access/mark5_format_vlba.c -text
mark5access/mark5_format_vlba_nomod.c -text
mark5access/mark5_stream.c -text
mark5access/mark5_stream.h -text
mark5access/mark5_stream_file.c -text
mark5access/mark5_stream_memory.c -text
mark5access/mark5_stream_unpacker.c -text
